* {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  overflow: hidden;
}

.App-main {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

/* Google Login button */
.google--login {
  padding: 10px !important;
}

.google--login span {
  font-size: 20px;
}

.google--login button {
  padding: 10px !important;
  border-radius: 8px !important;
}

.google--login:hover {
  background-color: #397bf5 !important;
  color: #fff !important;
}

button {
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
  height: auto;
  width: auto;
}

.header-right-container {
  display: 'flex';
}

.header-right-container button {
  color: '#FF504D' !important;
  border-color: '#FF504D';
}

.header-right-container button:hover {
  cursor: pointer;
}
